@import "tailwindcss";

:root {
    --veblyss-color: #368581;
    --button-red: #792727;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins';
}

html, body, #__next {
    width: 100%;
    overflow-x: hidden;
}

img, video {
    max-width: 100%;
    height: auto;
}